@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
  font-size: 62.5%;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  outline: none;
  /* font-family: "Nunito", sans-serif;
  font-weight: 400; */
}

body{
  background-color: rgb(243, 242, 242);
  overflow-x: hidden;
  font-family: Lobster, sans-serif;
  letter-spacing: 0.2rem;
}

.App-header{
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
}