.Pokedex{
    background-color: rgb(243, 242, 242);
    text-align: center;
}


.Pokedex-title{
    font-size: 3rem;
    margin: 3rem 0 1rem 0;
    color:  #2f1f1f;
    text-shadow: 0.2rem 0.2rem 1rem #aaa;
  }
  
  .Pokedex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
    
  }
  
  .Pokedex-Pokemon{
    margin: 3rem 5rem;
    padding: 0;  
  }

  .Pokedex-winner{
    color: green;
  }

  .Pokedex-loser{
    color: red;
  }